<form action="/posts" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Title: <input type="text" name="title" id="title">
  Post: <input type="text" name="blog" id="blog">
  <input type="submit" value="Submit">
</form>
