
  <h1>Title: <%= @post.title %>
  <p> <%= @post.blog %></p>
  <form method="post" action="/posts/<%= @post.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" name="submit" value="delete">
  </form>
